@charset "utf-8";

* {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Montserrat", "Noto Sans KR", "Nanum Gothic", "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: -0.05rem;
    background-color: #fff;
    color: #02060F;
}


button {
    cursor: pointer;
    padding: 0;
    background: none;
    border: 0 none;
    color: #02060F;
}

input {
    /*-webkit-appearance: none;*/
    -webkit-border-radius: 0;
}

a {
    text-decoration: none;
    /*color: #02060F;*/
}

[data-aos=wide] {
    width: 75%;
    margin: 0 auto;
    transition: all .4s ease-out 0s
}

[data-aos=wide].aos-animate {
    max-width: none;
    width: 100%
}

[data-aos=scale] {
    display: block;
    transform: scale(1.4);
    transition: all 0.8s;
}

[data-aos=scale].aos-animate {
    transform: scale(1);
    transition: all 0.8s;
}

[data-aos=fade] {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    opacity: 0;
    filter: blur(15px);
}

[data-aos=fade].aos-animate {
    transform: translate(0, 5rem);
    opacity: 1;
    filter: blur(0);
}

[data-aos=mix] {
    opacity: .3;
    transform: scale(1.5) translateY(0);
    filter: blur(0.5rem);
    transition: all 1000ms;
}

[data-aos=mix].aos-animate {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: all 2000ms;
    filter: blur(0);
}

/* swiper*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img,
.swiper-slide video {
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-button-next {
    background-position: center right;
}

.swiper-button-prev {
    background-position: center left;
}

.text-white .swiper-button-next,
.text-white .swiper-button-prev {
    filter: invert(1);
}


.swiper-button-next {
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/> </svg>');
}

.swiper-button-prev {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/> </svg>');
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 0 !important;
}

.opacity_animation .swiper-button-next.swiper-button-disabled,
.opacity_animation .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.swiper:hover .opacity_animation .swiper-button-next,
.swiper:hover .opacity_animation .swiper-button-prev {
    opacity: 1;
}

/* swiper*/
/*icon*/
.__icon::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/> </svg> ');
}

.__pdf:before {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/> </svg> ');
}

.__zip:before {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-4 1h.01v.01H15V5Zm-2 2h.01v.01H13V7Zm2 2h.01v.01H15V9Zm-2 2h.01v.01H13V11Zm2 2h.01v.01H15V13Zm-2 2h.01v.01H13V15Zm2 2h.01v.01H15V17Zm-2 2h.01v.01H13V19Z"/> </svg> ');
}

.__image:before {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path fill="currentColor" d="M16 18H8l2.5-6 2 4 1.5-2 2 4Zm-1-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 18h8l-2-4-1.5 2-2-4L8 18Zm7-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/> </svg> ');
}

.__video:before {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM9 12h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Zm5.697 2.395v-.733l1.269-1.219v2.984l-1.268-1.032Z"/> </svg> ');
}

/* s header*/
#header {
    /*transition: all 0.3s ease-in-out;*/
}

#header.on {
    opacity: 1;
    background-color: #FFF;
    color: #152342;
}

header#header.scroll {
    background-color: #FFF;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    color: #152342;
}

/*header#header.scroll .log__image.m {*/
/*    display: block;*/
/*}*/

/*header#header.scroll .log__image.pc {*/
/*    display: none;*/
/*}*/

/*토글 화살표*/
svg.bi-chevron-down {
    transition: transform 0.3s ease;
}

button[data-collapse-toggle][aria-expanded="true"] svg.bi-chevron-down {
    transform: rotate(180deg);
}

/* 모바일 햄버거 */
.header_wrap #toggle-mobile-menu {
    cursor: pointer;
}

.header_wrap button[aria-expanded="true"] svg.open__btn {
    opacity: 0;
    display: none;
}

.header_wrap button[aria-expanded="true"] svg.close__btn {
    display: inline-block;
}

/* /모바일 햄버거 */

#header .header_wrap .__nav.on ul.__lnb {
    display: block;
}

#dimLayer {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

#dimLayer.on {
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#parallax__nav li a {
    transition: all 0.3s ease-in-out;
}

#parallax__nav li a.active {
    color: rgb(207 87 51);
    font-weight: 600;
}