@charset "utf-8";

* {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Montserrat", "Poppins", "Noto Sans KR", "Nanum Gothic", "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: -0.05rem;
    background-color: #fff;
    color: #152342;
}


button {
    cursor: pointer;
    padding: 0;
    background: none;
    border: 0 none;
    color: #02060F;
}

a {
    text-decoration: none;
    color: #02060F;
}

[data-aos=wide] {
    width: 75%;
    margin: 0 auto;
    transition: all .4s ease-out 0s
}

[data-aos=wide].aos-animate {
    max-width: none;
    width: 100%
}

/* swiper*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img,
.swiper-slide video {
    width: 100%;
    height: 100%;
}

.swiper-slide img,
.swiper-slide video {
    /*transform: scale(1.05);*/
    /*transition: 1.5s 0.1s;*/
}

.swiper-slide-active img,
.swiper-slide-active video {
    /*transform: scale(1.0);*/
}


.swiper-button-next,
.swiper-button-prev {
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-button-next {
    background-position: center right;
}

.swiper-button-prev {
    background-position: center left;
}

.swiper-button-next.white,
.swiper-button-prev.white {
    filter: invert(1);
}


.swiper-button-next {
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/> </svg>');
}

.swiper-button-prev {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/> </svg>');
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 0;
}

.swiper-slide-active .show_content_box > a,
.swiper-slide-active .show_content_box > p {
    animation: showContent .3s .5s ease-in-out 1 forwards;
}

.swiper-slide-active .show_content_box > img {
    animation: showContent .3s .5s ease-in-out 1 forwards;
}

/* swiper*/
/*icon*/
.__icon::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/> </svg> ');
}

.__pdf:before {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/> </svg> ');
}

.__zip:before  {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-4 1h.01v.01H15V5Zm-2 2h.01v.01H13V7Zm2 2h.01v.01H15V9Zm-2 2h.01v.01H13V11Zm2 2h.01v.01H15V13Zm-2 2h.01v.01H13V15Zm2 2h.01v.01H15V17Zm-2 2h.01v.01H13V19Z"/> </svg> ');
}

.__image:before  {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path fill="currentColor" d="M16 18H8l2.5-6 2 4 1.5-2 2 4Zm-1-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 18h8l-2-4-1.5 2-2-4L8 18Zm7-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/> </svg> ');
}

.__video:before  {
    content: url('data:image/svg+xml;utf8, <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM9 12h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Zm5.697 2.395v-.733l1.269-1.219v2.984l-1.268-1.032Z"/> </svg> ');
}

/* s header*/

#header:after {
    /*content: "";*/
    /*position: absolute;*/
    /*top: 160px;*/
    /*left: 0;*/
    /*height: 360px;*/
    /*width: 100%;*/
    /*background-color: transparent;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*box-shadow: 0 10px 10px 0 hsla(0, 0%, 39%, .2);*/
    /*z-index: -1;*/
    /*transition: opacity 500ms;*/
}

#header.on {
    opacity: 1;
    background-color: #f4f4f4;
}

#header.on:after {
    /*visibility: unset;*/
    /*opacity: 1;*/
    /*background-color: #f4f4f4;*/
}

header#header.scroll {
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


/*토글 화살표*/
svg.bi-chevron-down {
    transition: transform 0.3s ease;
}

button[data-collapse-toggle][aria-expanded="true"] svg.bi-chevron-down {
    transform: rotate(180deg);
}

/*언어설정*/
#header .header_wrap .gnb .language__select .language__button svg {
    /*transition: transform 0.3s ease;*/
}

#header .header_wrap .gnb .language__select.on .language__button svg {
    /*transform: rotate(180deg);*/
}

/* /언어설정*/

/* 모바일 햄버거 */

.header_wrap #toggle-mobile-menu {
    cursor: pointer;
}

.header_wrap button[aria-expanded="true"] svg.open__btn {
    opacity: 0;
    display: none;
}

.header_wrap button[aria-expanded="true"] svg.close__btn {
    display: inline-block;
}

/* /모바일 햄버거 */


/*!*네비게이션*!*/
/*#header .header_wrap .__nav ul.__nav_1deps {*/
/*    display: inline-flex;*/
/*}*/

/*#header .header_wrap .__nav ul.__nav_1deps li.__nav_1deps_item {*/
/*    min-width: 180px;*/
/*    padding: 2rem 3rem 1.8rem;*/
/*}*/

/*#header .header_wrap .__nav li.__nav_1deps_item ul.__lnb {*/
/*    display: none;*/
/*    padding-top: 1rem;*/
/*    text-align: left;*/
/*    letter-spacing: -.02em;*/
/*}*/

#header .header_wrap .__nav.on ul.__lnb {
    display: block;
    /*transition: opacity 300ms*/
}

/*#header .header_wrap .__nav li.__nav_1deps_item ul.__lnb a {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    !*font-size: 0.85rem;*!*/
/*    color: #212221;*/
/*    font-weight: 300;*/
/*}*/

/*#header .header_wrap .__nav li.__nav_1deps_item ul.__lnb > li > a {*/
/*    line-height: 36px;*/
/*    font-weight: bold;*/
/*}*/


.to_top {
    position: fixed;
    bottom: 4.0rem;
    right: 8.0rem;
    /*z-index: 1000;*/
    width: 5.6rem;
    height: 5.6rem;
    background: #02060f;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none
}

.to_top::before {
    content: "";
    display: block;
    width: 2.6rem;
    height: 3.2rem;
    background: url('https://amc.apglobal.com/image/384224417642/image_hv0rskbt7536f66kkkueehb102/-FPNG') -3.6rem -17.2rem no-repeat;
    background-size: 50rem 50rem;
    position: absolute;
    top: calc(50% - 1.6rem);
    left: calc(50% - 1.3rem)
}

@media (min-width: 1920px) {
    .to_top {
        right: calc(50% - 88.0rem)
    }

}

/* e footer*/


/* s to_top*/
.top_btn {
    display: none;
    position: fixed;
    bottom: 4.0rem;
    right: 8.0rem;
    z-index: 1000;
    width: 5rem;
    height: 5rem;
    background: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.top_btn::before {
    content: "";
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/> </svg>');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem)
}

/* e to_top*/