@charset "utf-8";


/*vertical swiper */

.sections {
    width: 100%;
}

.sections .section_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.sections.corporate_video {
    display: flex;
}

.sections.hero,
.sections.recommend,
.sections.corporate_video,
.sections.about_core {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: unset;
}

.sections .section_container {

}

/*main swiper*/
.main-swiper .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.all-box {
    position: absolute;
    display: inline-flex;
    width: 90%;
    height: 50px;
    left: 50%;
    bottom: 10%;
    box-sizing: border-box;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.all-box .progress-box {
    position: relative;
    width: 170px;
    height: 50px;
    z-index: 11;
}

.all-box .progress-box .autoplay-progress {
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 10;
    width: 100px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.all-box .progress-box .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    stroke-width: 4px;
    /*stroke: #fff;*/
    fill: none;
    stroke-dashoffset: calc(100 * (1 - var(--progress)));
    stroke-dasharray: 100;
}

.all-box .progress-box .swiper-pagination {
    display: flex;
    /*color: #fff;*/
    justify-content: space-between;
    position: static;
    text-align: left;
}

.main-swiper:has(.swiper-slide-active.slide-style-white) .all-box,
.main-swiper:has(.swiper-slide-active.slide-style-white) .all-box .arrow-box,
.main-swiper:has(.swiper-slide-active.slide-style-white) .all-box .arrow-box .swiper-button-prev,
.main-swiper:has(.swiper-slide-active.slide-style-white) .all-box .arrow-box .swiper-button-next,
.main-swiper:has(.swiper-slide-active.slide-style-white) .all-box .progress-box span {
    color: #fff;
    stroke: #fff;
    fill: #fff;
}

.main-swiper:has(.swiper-slide-active.slide-style-black) .all-box,
.main-swiper:has(.swiper-slide-active.slide-style-black) .all-box .arrow-box,
.main-swiper:has(.swiper-slide-active.slide-style-black) .all-box .arrow-box .swiper-button-prev,
.main-swiper:has(.swiper-slide-active.slide-style-black) .all-box .arrow-box .swiper-button-next,
.main-swiper:has(.swiper-slide-active.slide-style-black) .all-box .progress-box span {
    color: #02060F;
    stroke: #02060F;
    fill: #02060F;
}


.all-box .arrow-box {
    position: relative;
    width: 80px;
    height: 50px;
}


/*메인슬라이드*/
.slide-style-white {
    color: #fff;
}

.slide-style-white a,
.slide-style-white button {
    border: 1px solid #fff;
    color: #fff;
}

.slide-style-white ~ .all-box .progress-box {
    fill: #fff;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.slide-style-black {
    color: #02060F;
}

.slide-style-black a,
.slide-style-black button {
    border: 1px solid #02060F;
    color: #02060F;
}


.all-box .arrow-box svg {
    fill: #fff;
}

.all-box .arrow-box .swiper-button-next,
.all-box .arrow-box .swiper-button-prev {
    width: 21px;
    height: 21px;
    top: 0;
    margin-top: 0;
}

.material-swiper .all-box .progress-box .autoplay-progress svg {
    stroke: #333;
}

/* /main swiper */
